:deep(.v-table .v-table__wrapper > table > thead > tr > th) {
    background-color: rgb(55 65 81);
    border: 1px solid white;
    color: white;
    font-size: 13px;

}
:deep(.v-table > .v-table__wrapper > table){
    border: 1px solid #e5e7eb;
}
.activeBtn{
    background-color: #e5e7eb;
}

:deep(.v-table .v-table__wrapper > table > thead > tr > th:last-child){
    width: 13%;
}

:deep(.v-data-table-header__content){
    justify-content: center;
}